@using Blog.Models
@using System.Globalization
@using System.Threading
@model PostModelWithPaginatedComments

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />
    <link href="~/Content/Post/post.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <script src="~/Scripts/Post/comment-mapper.js"></script>
    <script src="~/Scripts/Post/normal-comment-factory.js"></script>
    <script src="~/Scripts/Post/post.js"></script>
}

@if (Model == null || Model.Post == null)
{
    return;
}

<div class="container content-block">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-section">
            <div class="post-title">@Model.Post.Title</div>
            @{
                CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
                TextInfo textInfo = cultureInfo.TextInfo;
                PostModel postModel = Model.Post;
                PaginationModel<CommentModel> commentPaginationModel = Model.CommentPaginationModel;
            }
            <div class="post-category">About <strong>@textInfo.ToTitleCase(postModel.PostCategory.Name)</strong></div>
            <div class="post-date">On <strong>@postModel.CreatedDate</strong></div>
            <div class="post-date">Updated @postModel.UpdatedDate</div>
            <div class="post-summary">@postModel.ShortDescription</div>
            <div class="post-content">@Html.Raw(postModel.Content)</div>
            <input type="hidden" class="post-id" value=@postModel.PostId />
        </div>

        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 comment-section">
            <div class="comment-title">Comments</div>
            <div class="comment-count">@postModel.CommentCount</div>
            @{
                Html.RenderPartial("~/Views/Post/_NormalCommentSection.cshtml", commentPaginationModel);

                if (commentPaginationModel.HasNext)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button id="expand-master-comment-btn" class="expand-comment-btn"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                    </div>
                }
            }
        </div>
    </div>
</div>