@model PostDTO

@section Style {
    <link href="@Url.Content("~/Content/ViewPost/viewpost.css")" rel="stylesheet" type="text/css" />
}

@section scripts {
    <script src="~/Scripts/viewblog.js"></script>
}

@{
    Html.RenderPartial("~/Views/Shared/_SearchBar.cshtml");
}

<div class="container" id="post-block">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-section">
            <p class="post-title">@Model.Title</p>
            <p class="post-category">About <strong>@Model.PostCategory</strong></p>
            <p class="post-date">On <strong>@Model.CreatedDate</strong></p>
            <p class="post-date">Updated @Model.UpdatedDate</p>
            <p class="post-summary">@Model.ShortDescription</p>
            <p class="post-content">@Model.Content</p>
        </div>

        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 comment-section">
            <p class="comment-title">Comments</p>
            <form class="comment-form master-comment-form" action="/ViewPost" method="post">
                <textarea class="comment-input" placeholder="Comment"></textarea>
                <input type="hidden" value=@Model.PostId class="post-id" />
                <button type="submit" class="submit-comment-btn"><span class="glyphicon glyphicon-send"></span></button>
            </form>
            @{
                List<CommentDTO> commentDTOs = Model.CommentDTOs;
                if (commentDTOs != null)
                {
                    foreach (CommentDTO commentDTO in commentDTOs)
                    {
                        List<CommentDTO> childCommentDTOs = commentDTO.ChildCommentDTOs;
                        <div class="comment-container">
                            <div class="master-comment-container">
                                <p class="comment-user-container">
                                    <strong class="comment-user">@commentDTO.Username</strong>
                                    <button class="show-child-comment-btn"><span class='glyphicon glyphicon-list'></span></button>
                                    <button class="add-child-comment-btn"><span class='glyphicon glyphicon-edit'></span></button>
                                </p>
                                <p class="comment-body">@commentDTO.Content</p>
                            </div>
                            <form class="comment-form child-comment-form" action="/ViewPost" method="post" style="display: none">
                                <textarea class="comment-input" placeholder="Comment"></textarea>
                                <input type="hidden" value=@commentDTO.CommentId class="comment-id" />
                                <input type="hidden" value=@Model.PostId class="post-id"/>
                                <button type="submit" class="submit-comment-btn"><span class="glyphicon glyphicon-send"></span></button>
                            </form>
                            <div class="children-comment-container" style="display: none">
                                @{
                                    if (childCommentDTOs != null)
                                    {
                                        foreach (CommentDTO childCommentDTO in childCommentDTOs)
                                        {
                                            <div class="child-comment-container">
                                                <p class="comment-user-section"><strong class="comment-user">@childCommentDTO.Username</strong></p>
                                                <p class="comment-body">@childCommentDTO.Content</p>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
     </div>
</div>
</div>