@model List<BlogServices.DTO.PostCardDTO>

@section Style {
    <link href="@Url.Content("~/Content/Home/home.css")" rel="stylesheet" type="text/css" />
}

@{
    Html.RenderPartial("~/Views/Shared/_SearchBar.cshtml");
}

<div class="container" id="post-block">
    <div class="row">
        @if (Model != null)
        {
            foreach (var postCard in Model)
            {
                <div class="post-card container col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 post-col-1">
                            <img class="post-img" src=@postCard.ThumbnailImageSrc />
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-8 post-col-2">
                            <p class="post-title">@postCard.Title</p>
                            <p class="post-date">On <strong>@postCard.CreatedDate</strong></p>
                            <p class="post-date">Updated @postCard.UpdatedDate</p>
                            <p class="post-summary">@postCard.ShortDescription</p>
                            @using (Html.BeginForm("CategoryPost", "Home"))
                            {
                                <input type="hidden" value=@postCard.PostId name="postId" />
                                <button type="submit" class="read-post-btn"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>