<link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Life", "Category", "Home", new { category = "Life" }, new { })</li>
                <li>@Html.ActionLink("Travel", "Category", "Home", new { category = "Travel" }, new { })</li>
                <li>@Html.ActionLink("Tech", "Category", "Home", new { category = "Tech" }, new { })</li>
                <li>@Html.ActionLink("Health", "Category", "Home", new { category = "Health" }, new { })</li>
            </ul>
        </div>
    </div>
</div>
